ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    padding: 0 1em;
    margin: 0 auto;
}

.row {
    display: flex;
}

.row__center {
    justify-content: center;
}

.btn {
    color: #3484E5;
    border: 1px solid #3484E5;
    padding: .5em;
    border-radius: 2px;
    text-align: center;
}

.menu {
    background-color: #2B2C30;
    padding: 1em 0;
}

.menu__row {
    justify-content: space-between;
    align-items: center;
}

.logo__blue {
   color: #3E8EEA;
}

.logo__white {
   color: #fff;
}

.menu__lista {
    display: none;
}

@media screen and (min-width: 480px) {
    .menu__lista {
        display: block;
    }
}

.menu__link {
    color: #fff;
}

.active {
    border: 1px solid #fff;
    border-radius: 2px;
    padding: .5em;
}

.menu__item {
    display: inline-block;
    padding: .5em 1em;
}

.welcome {
    background-color: #2B2C30;
    padding: 4em 0;
    color: #fff;
}

.welcome__titulo {
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0;
}

.welcome__row {
    flex-direction: column;
    margin: 2em 0;
}

@media screen and (min-width: 480px) {
    .welcome__row {
        flex-direction: row;
        justify-content: space-around;
    }
}

.welcome__img {
    max-width: 100px;
    margin: .5em auto;
    display: block;
}

.welcome__item {
    text-align: center;
    padding: 1em;
}

.welcome__btn {
    text-align: center;
    padding: .5em 1em;
    background: #3484E5;
    margin-top: 2em;
    border-radius: 2px;
    color: #fff;
}

.benefits {
    margin: 1em 0;
}

.benefits__row {
    justify-content: space-between;
    align-items: center;
}

.benefits__items__row {
    flex-direction: column;
}

.benefit {
    text-align: center;
}

@media screen and (min-width: 480px) {
    .benefits__items__row {
        flex-direction: row;
    }
    
    .benefit {
        padding: 1em;
        flex: 1;
    }
}

.benefit__titulo {
    color: #3484E5;
}

.benefits__img {
    max-height: 300px;
}

@media screen and (min-width: 480px) {
    .benefits__img{
        max-height: 100%;
    }
}

.info {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    margin: 1em 0;
}

.info__row {
    align-items: center;
    justify-content: space-between;
}

.logos {
    margin: 2em 0;
}

.logo__row {
    flex-wrap: wrap;
    justify-content: center;
}

.logo__item {
    max-height: 30px;
    margin: .5em;
    flex-shrink: 0;
}

.footer {
    background-color: #2B2E33;
    padding: 2em 0;
}

.footer__row {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .footer__row {
        flex-direction: row;
    }
}

.footer__list {
    flex: 1;
}

.footer__link {
    padding: .5em 0;
}

.footer__list a {
    color: #fff;
    font-size: 12px;
}